
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Poppins:wght@200;400&family=Roboto:wght@300&display=swap');



html{
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
body{
  position: relative;
width: 100%;
 
  scroll-behavior: smooth;
  /* background-color: #0d1117 */
  background-color: #fff;


}

.spinner{
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
.container{
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}


.container section{
  position: relative;
  width: 100%;
min-height: 700px;
max-height: 2100px;

scroll-snap-type: y mandatory;
scroll-behavior: smooth;

 

 
}






.container .homecontainer {
  position: relative;
  width: 100%;
  min-height: 650px;
 


}



.container .homecontainer .home nav{
  position: relative;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;

  /* background-color: #fff; */
  
  /* background-color: rgba( 255, 255, 255, 0.1 ); */

z-index: 10000;
}

.container .homecontainer .home nav .content{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  /* background-color: red; */
}

.container .homecontainer .home nav .content .name{
  position: absolute;
  left: 40px;
  width: 30%;
  height: 100%;
  /* background-color: #fff; */
  display: flex;
  
  align-items: center;
}

.container .homecontainer nav .content .name .nameref{
  position: relative;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  background-color: transparent;
}

.container .homecontainer nav .content .button{
  position: relative;
  right:50px ;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
}

.container .homecontainer nav .content .button a{
  position: absolute;
  display: flex;
  gap: 10px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Mona Sans Black', sans-serif; */
  font-size: 16px;
  color: #333;
  transition: border 0.3s ease;
  box-sizing: border-box;
 
}
.container .homecontainer nav .content .button a:nth-child(1){
 
  
  right: 360px;

}
.container .homecontainer nav .content .button a:nth-child(2){
 right: 240px;
}


.container .homecontainer nav .content .button :nth-child(3){


  border: 1px solid rgba( 255, 255, 255, 0.1 );
  font-size: 16px;
  padding: 8px 40px;
  background-color: #183153;
  border-radius: 5px;
  color: #fff;

}
.container .homecontainer nav .content .button :nth-child(3):hover{
 
  border: 2px solid #fff;
  transition: 0.1s;
  box-sizing: border-box;
  
} 

.container .homecontainer .home .homecontent{
  position: absolute;
  top: 70px;
width: 100%;
height: 90%;
display: flex;


  
}
.container .homecontainer .home .homecontent .data{
  position: relative;
  width: 50%;
  height: 100%;
  /* background-color: #fff; */
  /* background-color: red; */
  top: 60px;
  left: 60px;
letter-spacing: 0.5px;

}
.container .homecontainer .home .homecontent  .data h2{
  position: absolute;
  width: 100%;
  font-size: 60px;
  color: #183153;
  font-family: "poppins", sans-serif;
  }

  .container .homecontainer .home .homecontent .data p{
    position: absolute;
    top: 130px;
    width: 740px;

   
    font-family: "poppins", sans-serif;
    font-size: 25px;
    color: #7D8590;
  }

  .container .homecontainer .home .homecontent .data .button{
    position: relative;
    left: 180px;
    top: 270px;
 width: 250px;
 height: 57px;
  border-radius: 10px;
background-color: #183153;


backdrop-filter: blur(8px);
-webkit-backdrop-filter: blur(4px);
border: 1px solid rgba( 255, 255, 255, 0.18 );


  }
   .container .homecontainer .home .homecontent .data .button button{
    position: relative;
    top: 1.5px;
    left: 1.8px;
    width: 247px;
    height: 50px;
    background-color: #ffd43b;
    border-radius: 10px;
    font-family: "poppins", sans-serif;
    font-size: 18px;
    color: #fff;
font-weight: bolder;
    
    padding: 10px;
    border: none;
   }

  .container .homecontainer .home .homecontent .image{
    position: absolute;
    top: 120px;
   right: 100px;
    width: 45%;
    height: 675px;
    display: flex;
   justify-content: center;
   /* align-items: center;
background: hsla(233, 100%, 90%, 1);

background: linear-gradient(90deg, hsla(233, 100%, 90%, 1) 0%, hsla(0, 0%, 89%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(233, 100%, 90%, 1) 0%, hsla(0, 0%, 89%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(233, 100%, 90%, 1) 0%, hsla(0, 0%, 89%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#CAD0FF", endColorstr="#E3E3E3", GradientType=1 );
backdrop-filter: blur(10px) saturate(125%); */
/* -webkit-backdrop-filter: blur(10px); */
z-index: -1000;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;

  }
  .container .homecontainer .home .homecontent .image  img{
    position: absolute;
    top: 30px;
    /* width:700px;
    height: 500px; */
  
    
   
    }


/* here the code section */

.container .codecontainer{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

 
  
  

}


.container .codecontainer .codeeditor{

position: relative;
top: 40px;
width: 1300px;
height: 780px;
 /* background-color: #0b0a0a; */
 /* background: #040d10; */
  /* background: rgba(255, 255, 255, 255); */
  /* background-color: #00c7b7; */
  /* background-color: #011627; */
  /* background-color: #0b0a0a; */
  /* background-color: #161b22; */
  /* background: hsla(189, 92%, 69%, 1);


  background: hsla(46, 73%, 75%, 1);
 /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
 background-color: #fff;
 backdrop-filter: blur( 4px );
 -webkit-backdrop-filter: blur( 4px );
 border-radius: 5px;
 /* border: 1px solid rgba( 255, 255, 255, 0.18 );  */
 border: 1px solid rgba( 255, 255, 255, 0.1 );
 border-radius: 10px;

}

.container .codecontainer .codeeditor .content{
  position: absolute;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid rgba( 255, 255, 255, 0.18 );
  display: flex;
  align-items: center;
 
}
.container .codecontainer .codeeditor .content .threecircle{
position: absolute;

left: 30px;
display: flex;
gap: 5px;


}
.container .codecontainer .codeeditor .content .threecircle .circle{
position: relative;
width: 15px;
height: 15px;
border-radius: 50%;
background-color: yellow;
}



.container .codecontainer .codeeditor .content  .input{
  position: absolute;
  width: 100%;
  height: 100%;
 
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .codecontainer .codeeditor .content  .input input{
position: relative;
left: 18px;
padding: 5px 100px;
border-radius: 8px;
outline: none;
border: none;
background: rgba( 255, 255, 255, 0.2 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );

border: 1px solid rgba( 255, 255, 255, 0.1 );

}
.container .codecontainer .codeeditor .content  .input input[value]{
position: relative;
text-align: center;
font-family: 'Poppins', sans-serif;
}

 .container .codecontainer .codeeditor .content .cut{
  position: absolute;
  right: 30px;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
 
}
.container .codecontainer .codeeditor .content .cut span{
  position: relative;
  display: inline-block;
  font-size: 20px;
  color: #fff;
}


.container .codecontainer .codeeditor .code{
position: relative;
width: 100%;
height: 100%;
display: flex;
gap: 20px;
}
.container .codecontainer .codeeditor .code .sidebar{
  position: relative;
  top: 58px;
  left: 5px;
  width: 250px;
  height: 90%;
  /* background: #edeef1; */
  background-color: #1b205b;
  /* background-color: #0D1117; */
box-shadow: 0 2px 5px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 5px;
border: 1px solid rgba( 255, 255, 255, 0.18 );

}
 
.container .codecontainer .codeeditor .code .program{
position: relative;
  top: 55px;
  right: 8px;
  width: 85%;
  height: 91%;
  /* background: #edeef1; */
  background-color: #1b205b;

  /* background-color: #eddef1;
  border-radius: 5px; */
  /* background: hsla(189, 92%, 69%, 1); */

  /* background: hsla(46, 73%, 75%, 1); */
  /* background-color: #0b0a0a; */
  /* background-color: #0D1117; */
  /* background-color: #333; */

 

  box-shadow: 0 2px 0px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.container .codecontainer .codeeditor .code .program .tittle{
  position: absolute;
  top: 0;
  width: 100%;
  height: 40px;
  /* background-color: #0c2735; */
  /* background-color:  #011627; */
  /* background-color: #707070; */
  /* background-color: #7D8590; */
  background-color: #7D8590;
  /* background-color: #161b22; */
  /* box-shadow: 0px 8px 32px 0px rgba( 31, 38, 135, 0.37 ); */
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  
}
.container .codecontainer .codeeditor .code .program .tittle .tittlename{
  position: relative;
  top: 10px;
  left: 40px;
  width: 80px;
  height: 90%;
  /* background-color: yellow; */
  /* background-color: #fff; */
  /* background: hsla(189, 92%, 69%, 1);
  

  background: hsla(46, 73%, 75%, 1); */
  /* background-color: #0D1117; */
  /* background-color: #edeef1; */
  background-color: #1b205b;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
 z-index: -1;
 text-align: center;

}

.container .codecontainer .codeeditor .code .program .tittle .tittlename span{
  position: relative;
  top: 3px;
  text-align: center;
  /* color: #fff; */
  color: #7D8590;
  font-family: 'Poppins', sans-serif;
  font-size: 11px;
}


.container .codecontainer .codeeditor .code .program .precode{
  position: relative;
  top:14px;
  width: 100%;
  height: 70%;
  /* background-color: red; */
background-color: transparent;
transition: 0.5s;
}

.container .codecontainer .codeeditor .code .program .terminal{
  position: absolute;
  
top: 474px;
  width: 1058px;
  height: 33%;

  /* background-color: #0b0a0a; */
  /* background-color: #161b22; */
  /* background-color: #edeef1; */
  /* background-color: #7D8590; */
  /* background-color: #183153; */
  background-color: #161b22;
  /* box-shadow: 0 2px 10px 0 rgba( 31, 38, 135, 0.37 ); */
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  z-index: 100;
 
}
.container .codecontainer .codeeditor .code .program .terminal .button{
  position: relative;
  top: 10px;
  left: 13px;
  display: flex;
  gap: 10px;
 
}

.container .codecontainer .codeeditor .code .program .terminal  .button a{
  position: relative;
  text-decoration: none; 
  font-size: 13px;
  font-family: 'Poppins', sans-serif;
  color: #7D8590;
 
}
  .container .codecontainer .codeeditor .code .program .terminal .button a:hover{
    color: #fff;
    transition: 0.5s;
    transition-timing-function: 0.5s;
  }

.container .codecontainer .codeeditor .code .program .terminal  .button span{
  position: relative;
  width: 20px;
  height: 20px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: skyblue;
  border-radius: 50%;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.container .codecontainer .codeeditor .code .program .terminal .terminalcode{
  position: relative;
  top: -25px;
  right: 80px;
}
.container .codecontainer .codeeditor .code .program .terminal .terminalcode .output{
  background-color: transparent;
}




/* ####HERE START THE CODEINDEX COMPONENT##### */

.container .codecontainer .codeindex{
  position: absolute;
  top: 400px;
 right: 50px;
 width: 400px;
  height: 300px;
  background: rgba( 255,255,255,0.2 );
  /* background-color: #161b22; */
  /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  z-index: 100;

}

.container .codecontainer .codeindex .program{
  position: relative;
  
  left: 2px;
  width: 395px;
  height: 285px;
  /* background-color: #0D1117; */
  /* background-color: red; */
  
  /* background-color: #edeef1; */
  background-color: #1b205b;
  

  box-shadow: 0px 8px 10px 0px rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
}

.container .codecontainer .codeindex .program .codedata{

position: relative;
right: 30px;
width: 100%;



}
.container .codecontainer .codeindex .program .codedata pre code{
  position: relative;
  right: 100px;
  background-color: transparent;
  overflow: hidden;
 
}


.container .codecontainer .codeindex  .program .content{
  position: absolute;
  top: 0;
  width: 100%;
  height: 40px;
  /* background-color: red; */
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  /* background-color: #7D8590; */
  background-color: #161b22;

}
.container .codecontainer .codeindex  .program .content .tittle{
position: relative;
top: 10px;
left: 20px;
width: 70px;
height: 30px;
/* background-color: #fff; */
/* background-color: #0D1117; */
background-color: #1b205b;
border-top-right-radius: 5px;
border-top-left-radius: 5px;
}

.container .codecontainer .codeindex  .program .content .tittle span{
  position: relative;
  font-size: 11px;
  width: 100%;
  height: 100%;
  font-family: 'Poppins', sans-serif;
text-align: center;
display: inline-block;
color: skyblue;
}


.container .codecontainer  .liveserver{
  position: relative;
  top: 15px;
   width: 300px;
   height: 225px;
 /* background-color: #0b0a0a; */
 background-color: #161b22;
 /* background-color: #fff; */
  box-shadow: 0px 2px 10px rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 5px;
  border: 1px solid #0b0a0a;


}
.container .codecontainer  .liveserver .content{
  position: relative;
  width: 100%;
  height: 100%;
  top: -20px;
width: 100%;
display: flex;
flex-direction: column;
gap: 1px;

}

.container .codecontainer .liveserver .content  p{
  position: relative;
  left: 10px;
  font-size: 13px;
  font-family: 'Poppins', sans-serif;
  
  color: #7D8590;

}
.container .codecontainer .liveserver .content hr{
  position: relative;
  width: 100%;
  color: #fff;
}


.container .codecontainer .liveserver .content .second{
  position: absolute;
  top: 50px;
 
  width: 100%;
  display: flex;
  justify-content: space-between;

}
.container .codecontainer .liveserver .content .second span{
  position: relative;
  right: 20px;
  top: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  color: #7D8590;
  
}


.container .codecontainer .liveserver .content .third{
  position: relative;
  top: 15px;
 
}
.container .codecontainer .liveserver .content .forth{
  position: relative;
  top: -5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* top: 100px; */
}
.container .codecontainer .liveserver .content .forth :nth-child(2){
  position: relative;
  top: -24px;
  
}
.container .codecontainer .liveserver .content .forth :nth-child(3){
  position: relative;
  top: -40px;
}



/* HERE FOR MOBILE devices */
